<%- include('../header.ejs') %>
<%- include('navAdm.ejs') %>

    <!-- =============== Conteúdo ================== -->
    <div class="container mt-5 pt-5">
        <header>
            <h1>Books Online
                <small>Market Place de Livros </small>
            </h1>
            <h5 class="font-weight-bold">Aproveite nossas promoções</h5>
        </header>

        <!-- =============== Formulário ================== -->
        
        <h2 class="alert alert-info">Atualizar Promoções</h2>
        <form action="./atualiza-promo" method="GET">
            <div class="form-group">
                <label for="promo">Adicionar à lista de promoções?</label>
                <input type="radio" class="col-lg-1" value="1" id="promo_sim" name="promo">Sim
                <input type="radio" class="col-lg-1" value="0" id="promo_nao" name="promo">Não
            </div>
            <div class="form-group">
                <label for="livro">Livro</label>
                <select name="id">
                    <% galeria.forEach((item) => { %>
                    <option value="<%= item.livros_id %>"><%= item.titulo %></option>
                    <% }) %>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Confirmar</button>
        </form>
        <!-- =============== Produtos ================== -->
        <div class="row">
            <% galeria.forEach((item) => { %>
            <div class="col-md-16 col-sm-16 col-lg-3 livro">
                <div class="card">
                    <a href="/single-produto?id=<%= item.livros_id %>">
                        <img class="card-img-top" src="books/<%= item.imagem %>" alt="Card image cap">
                    </a>
                    <div class="card-body">
                        <h4 class="card-title"><%= item.titulo %></h4>
                        <p class="card-text"><%= item.resumo %>
                        </p>
                        <h2>R$ <%= item.valor %></h2>
                        <a href="carrinho/?<%= item.livros_id%>" class="btn btn-primary">Adicionar ao carrinho</a>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
        <!-- =============== Fim dos Produtos ================== -->

        <!-- =============== Paginação ================== -->
        <nav>
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item active">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- =============== Fim da Paginação ================== -->
    </div>
    <!-- =============== Fim do Conteúdo ================== -->

<%- include('../footer.ejs') %>